/* :root {
  --footer-size: 8vh;
}

body {
  background-color: #e5e7ea;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #989292;
  height: 5vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

form button {
  padding: 0;
}

main {
  padding: 10px 10px 5px 10px;
  height: 100vh;
  margin: 5vh 0 var(--footer-size) 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #dadada;
}

main::-webkit-scrollbar-thumb {
  background: #9cd1f6;
}

form {
  height: var(--footer-size);
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: #bad6ea;
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 0.75rem;
  background: #bad6ea;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

main div button {
  background: none;
}

header button {
  width: 12vw;
  padding: 0px;
  background: none;
}

header button.hidden {
  visibility: hidden;
}

button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.log-item-container {
  margin-top: 1vh;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  color: white;
  text-align: center;
}

.log-item {
  display: flex;
  align-items: center;
  min-height: 7vh;
  background: #0b93f6;
  margin: 5px 0 0 0;
  border-radius: 1vh;
  justify-content: space-between;
  height: 5vw;
}


.log-item div {
  color: white;
  width: 30vw;
}

.log-item .units {
  font-size: 0.5rem;
}

.log-item .weight {
  font-size: larger;
}

img {
  width: 40px;
  height: 40px;
} */